html {
  background-color: antiquewhite;
}

h1 {
  padding-left: 14px;
  background-color: darkorchid;
  color: aliceblue;
  margin: 0;
}
nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  overflow: hidden;
  background-color: darkorchid;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #e63cbb;
}
footer {
  background-color: #b761e975;
  padding: 16px 16px;
  text-align: center;
}
